@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #f5f9fa;
  --color-secondary:#4056b9;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
